@use "../style/variables" as *;

.test-container{
  width: 100vw;
  height: 40vh;
  margin-top: 8rem;
  background-color: $greySoft;
}
.test-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.image{
  width: 128px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 0 32px;
  img{
    width: 64px;
    height: 64px;
    border-radius: 0.4rem;
  }
  .fond-blue{
    background-color: $dark;
  }
  .fond-neutre{
    background: transparent;
  }
  p{
    font-size: 0.8rem;
    margin: 0.2rem 0 0.2rem 0;
  }
}