@use "../style/variables" as *;

.test-container{
  width: 100vw;
  height: 40vh;
  margin-top: 8rem;
  background-color: transparent;
}
.test-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  
  // 
}
.image{
  width: 64px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  background-color: $light;
  border-radius: 50%;
  img{
    width: 64px;
    height: 64px;
    border-radius: 0.4rem;
    scale: 1.4;
  }
  .fond-blue{
    background-color: $dark;
  }
  .fond-neutre{
    background: transparent;
  }
  p{
    position: absolute;
    font-size: 0.8rem;
    margin: 0.2rem 0 0.2rem 0;
  }
}