@mixin card-form{
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 1px 6px $greyLight;
  border-radius: 0.4rem;
  img{
    scale: 0.2;
  }
  .text-card{
    list-style: none;
    width: 60%;
  }
  .text-subtitle{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
    color: $dark;
  }
  .text-comments{
    font-style: italic;
    margin: 0.2rem 0rem;
  }
  .text-tasks{
    list-style: square;
  }
}
@mixin animate-card ($s){
  animation:forwards;
  animation-name: $s;
  animation-duration: 0.8s;
  @keyframes hide {
    from{
      transform: translateX(0%);
    }
    to{
      transform: translateX(-100%);
    }
  }
  @keyframes show {
    from{
      transform: translateX(-100%);
    }
    to{
      transform: translateX(0%);
    }
    
  }


}