@import "../style/variables";
@mixin form-card($w,$pl,$scale,$fs,$fw){
  background-color: $light;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  
  img{
    scale: $scale;
    position: relative;
    top: -4rem;
  }
  .text-card{
    list-style: none;
    width: $w;
    padding: 0 0 1rem $pl;
  }
  .text-subtitle{
    font-size: $fs;
    font-weight: var($fw+100);
    margin-bottom: 0;
    color: $dark;
  }
  .text-comments{
    font-size: $fs;
    font-style: italic;
    margin: 0.2rem 0rem;
  }
  .text-tasks-puce{
    font-size: $fs;
    list-style: square;
    font-weight: normal;
    margin-left: 1rem;
  
  }
  .text-tasks{
    font-size: $fs;
    // list-style: inside disc;
    
  }
}

@mixin animate-card ($s){
  animation:forwards;
  animation-name: $s;
  animation-duration: 0.8s;
  @keyframes hide {
    from{
      transform: translateX(0%);
    }
    to{
      transform: translateX(-100%);
    }
  }
  @keyframes show {
    from{
      transform: translateX(-100%);
    }
    to{
      transform: translateX(0%);
    }
  }
}
@mixin banner-format($m, $pt, $pr, $pb, $pl, $top, $lft, $fs, $ff, $lh, $c, $bgc){
  margin: $m; 
  padding: $pt $pr $pb $pl; 
  top: $top;
  left: $lft;
  font-size: $fs;
  font-family: $ff;
  line-height: $lh;
  color: $c;
  background-color: $bgc;
  // border-radius: 20px;
  // box-shadow: 1px 1px 30px $grey;
}


