// COLORS
$primary: #0e59c2;
$secondary: rgb(116, 170, 245);
$light: #c6dafc;
$extraLight: #eeeeff;
$dark: #000033;

$greySoft: #eeeeff;
$greyLight: #cccccc;
$greyMedium: #aaaaaa;
$greyStrong: #888888;

$grey: #555555;

// COMPLEMENTAIRES
$_primary: #c2770e;
$_secondary: rgb(245, 183, 116);
$_light: #fce8c6;
$_extraLight: #ffffee;
$_dark: #333300;

//SPECIAL
$alert: #ff9800;
$alertSoft: #ffcc50;
$alertLight: #ffff89;

$secondary_06: rgba(245,183,116,0.8);