// COLORS
$primary: #0e59c2;
$secondary: rgb(116, 170, 245);
$light: #c6dafc;
$extraLight: #eeeeff;
$dark: #000033;
$darkMedium: #222255;

$greySoft: #eeeeff;
$greyLight: #cccccc;
$greyMedium: #aaaaaa;
$greyStrong: #888888;

$grey: #555555;

// COMPLEMENTAIRES
$_primary: #c2770e;
$_secondary: rgb(245, 183, 116);
$_light: #fce8c6;
$_extraLight: #ffffee;
$_dark: #333300;

//SPECIAL
$alert: #ff9800;
$alertSoft: #ffcc50;
$alertLight: #ffff89;

$_secondary_06: rgba(245,183,116,0.8);
$secondary_06: rgba(116,170,245,0.6);
@font-face {
  font-family: 'courgette';
  src: local('courgette'), url("../../assets/fonts/Courgette-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'barlow';
    src: url("../../assets/fonts/Barlow-Regular.ttf");
  
}
@font-face {
  font-family: 'ubuntu';
  src: url("../../assets/fonts/Ubuntu-Regular.ttf");
}