// COLORS
$primary: #0e59c2;
$secondary: #74aaf5;
$light: #c6dafc;
$extraLight: #eeeeff;
$dark: #000033;

$greySoft: #eeeeff;
$greyLight: #cccccc;
$greyMedium: #aaaaaa;

$grey: #555555;

// COMPLEMENTAIRES
$_primary: #c2770e;
$_secondary: #f5b774;
$_light: #fce8c6;
$_extraLight: #ffffee;
$_dark: #333300;

//SPECIAL
$alert: #ff9800;
$alertSoft: #ffcc50;
$alertLight: #ffff89;