.App {
  // position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  overflow: hidden;
}



